<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="fields">
    <%= f.association :post %>
    <%= f.input :commenter %>
    <%= f.input :comment_entered %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
